.timeSpansTable{
    border:solid #337ab7;
}
.timeCell{
    width:200px;
    height:50px;
}
.border-standart{
    border:1px solid #337ab7;
    border-bottom-color:#337ab7;
}
.border-gray{
    border:1px solid #ccc;
}
.border-aqua{
    border:1px solid #7dbaef;
}
.textStandart{
    border: 1px solid #ccc;
    border-radius: 4px;
    outline:none;
    transition-duration:600ms;
}
.textStandart:focus{
    box-shadow: 0px 0px 7px 1px rgba(81,100,219,1);
}
.textStandart:active{
    box-shadow: 0px 0px 20px 1px rgba(81,100,219,1);
}
.inputSmall{
    width:60px;
    height: 25px;
    text-align: center;
}
.font-big{
    font-size:20pt;
    font-family:sans-serif;
    font-weight: bold;
}
.glyphicon-minus{
    background:url(../Icons/glyphicons-minus.png) no-repeat;
    background-size:10px;
}
.glyphicon-plus{
    background:url(../Icons/glyphicons-plus.png) no-repeat;
}
.iconSmall{
    background-size:10px 10px;
}
.background-center{
    background-position:center center;
}
.colorStandart{
    background-color:#337ab7;
    color:white;
}
.btn-standart{
    outline: none;
    background-color:#7dbaef;
    cursor:pointer;
    transition-duration:200ms;
    color:white;
}
.btn-standart:hover{
    background-color:#337ab7;
}
.btn-standart:active{
    box-shadow: #337ab7;
}
.btn-add{
    outline: none;
    background-color:#337ab7;
    
    cursor:pointer;
    transition-duration:200ms;
    color:white;
}
.btn-add:hover{
    background-color:#7dbaef;
    border-color:#7dbaef;
}
.btn-add:active{
    background-color:#7dbaef;
    border-color:#7dbaef;
}
.btnSmall{
    width: 30px;
    height: 30px;
}
.textMiddle{
    text-align: center;
    vertical-align: middle;
}
.smallCell{
    height: 30px;
    width: 40px;
}
.span-standart{
    vertical-align: sub;
    font-weight:bold;
}